<ion-header>
  <ion-toolbar style="--ion-background-color:#B82828; color: white;">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: white; text-align: center;">
      <b>PLATOS FUERTES</b>
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div style="text-align: center;">
            <ion-img src="assets/image/plato_recomendado.png"></ion-img>
            <ion-title>PLATO RECOMENDADO</ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="background-color:#FFF6F6;">
    <ion-row>
      <ion-col size="12">
        <ion-card style="border: 1px solid #EA1D21;">
          <ion-card-content style="background-color:white;">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-grid>
                    <ion-row>
                      <img src="assets/image/plato2.png" style="border: 1px solid; width: 100%; height: 95%; border-radius: 100%;">
                    </ion-row>
                    <ion-row style="text-align: center;">
                      <ion-col size="4">
                        <ion-fab-button color="success" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                          <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                      </ion-col>
                      <ion-col size="4" style="margin-top: 2%;">
                        <ion-text><h1><b>0</b></h1></ion-text>
                      </ion-col>
                      <ion-col size="4">
                        <ion-fab-button color="danger" style="width: 32px; height: 32px; margin-left: auto; margin-right: auto; display: block !important;">
                          <ion-icon name="remove"></ion-icon>
                        </ion-fab-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>            
                </ion-col>
                <ion-col size="6" style="border: 1px solid;">
                  <ion-row>
                    <ion-col style="border: 1px solid; padding: 0px;"><ion-title>Bandeja Paisa</ion-title></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col></ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>